input {
  transition: all 0.3s ease-in-out;
}
  
.form{
  box-sizing: border-box;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 40px;
  border-radius: 3px;
  @include respond(tab-port) {
    width: 60%;
}

@include respond(phone) {
  width: 90%;
}

  
  &.register-form {
    display: none;
  }
  @include clerfix;
}

.form .message {
  margin: 15px 0 0;
  font-size: 1.1rem;
}

.form .message a {
  color: $color-primary-dark;
  text-decoration: none;
}


input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 10px 0;
  margin-bottom: 25px;
  border: none;
  border-bottom: solid 1px $color-primary;

}

button {
  border: none;
  background: $color-primary;
  color: $color-white;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
   &.btn {
    width: 30%;
    margin: 0 auto;
    float: left;
    padding: 5px;
   }

   &.btn-clear{
     margin-top: 5px;
   }
  

  &:hover {
    background: $color-primary-dark;
  }
 
  
}

/*Notes form Styles*/

h2.note {
  float: left;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
button a {
  text-decoration: none;
  color: $color-white;
}

.collection-item {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  background-color: $color-white;
  line-height: 1.5rem;
  padding: 10px 20px;
  border: 1px solid $color-gray;

  &:not(:last-child) {
    border-bottom: none;
  
  }
}

.delete-btn {
	background-color: $color-white;
	display:inline-block;
	cursor:pointer;
	color: $color-black;
	font-size: 1.5rem;
  text-decoration:none;
  &:before{content:"\2716";}
  float: right;
}
.delete-btn:hover {
	color: $color-primary;
}
.delete-btn:active {
	position:relative;
	top:1px;
}

