//COLORS VARIABLES

$color-primary: #2ABB9B;
$color-primary-dark: #16A085;

$color-gray: #9e9898;


$color-white: #fff;
$color-black: #000;

//VARIABLES FOR THE GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//VARIABLES FOR FONTS
$default-font-size: 1.6rem;
